.button {
	display: inline-block;
	padding: 1rem 2.5rem;
	border-radius: 1rem;
	font-weight: bold;
	background-color: black;
	text-decoration: none;
	border: 2px solid wheat;
	color: wheat;
	box-shadow: 0 0 1.5rem 0.3rem rgba(black, 0.2);
}
