$breakpoints: (
	"phone": 320px,
	"phone-wide": 480px,
	"tablet-small": 640px,
	"tablet": 768px,
	"tablet-wide": 960px,
	"tablet-wider": 1024px,
	"desktop": 1248px,
	"desktop-wide": 1600px
);

@mixin mq($width, $type: min) {
	@if map_has_key($breakpoints, $width) {

		$width: map_get($breakpoints, $width);

		@if $type == max {
			$width: $width - 1px;
		}

		$parent: &;

		@media only screen and (#{$type}-width: $width) {
			@at-root #{$parent} {
				@content;
			}
		}
	}
}

@media screen and (min-width: 1025px) {
	.nav-toggle {
		display: none;
	}
}

@media screen and (max-width: 1024px) {

	#grid {
		grid-template-columns: 1fr 1fr;
	}

	.planet {
		display: flex;
		flex-direction: column;
		width: 30%;

		.div {

			width: 100%;
			
			img {
				max-width: 100%;

				height: auto;
			}
		}

		.planet-info {
			display: flex;
			flex-direction: column;
		}
	}

	.navigation.main {
		display: none;
	}

	#nav-toggle-right  {
		display: block;
	}

	.site-branding {

		padding-bottom: 2rem;

		.site-title {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 2rem;
		}
	}
}

@media screen and (max-width: 640px) {
	#grid {
		grid-template-columns: 1fr;
	}
}

