:root {
	--font-size-initial: 10px;
	--font-size-lv2: 11px;
	--font-size-lv3: 12px;
	--font-size-lv4: 13px;
	--font-size-lv5: 14px;
	--font-size-lv6: 14.5px;
	--font-size-lv7: 17px;
	--font-size-lv8: 18px;

	--spacing-site: 2rem;

	--color-text-main: #000;
}
